# =========================
# Backend only - Python
# =========================
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Backend env files
.env
.env.*
!.env.example

# Python build / package output
build/
dist/
*.egg-info/
.eggs/
wheels/
*.egg

# Python test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
*.py.cover

# Type checker / linter cache
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Backend database local files
db.sqlite3
db.sqlite3-journal
*.sqlite
*.sqlite3

# Backend logs
*.log
pip-log.txt
pip-delete-this-directory.txt
*.db
